In [62]:
import numpy as np
import pandas as pd
import datetime

In [12]:
def categorize(score):
    if score in range(0,7):
        return 'Detractor'
    elif score in (7,8):
        return 'Passive'
    elif score in (9,10):
        return 'Promoter'
    return None

$$ Net Promoter Score = (\frac{Promoters}{N}*100) - (\frac{Detractor}{N}*100) % $$

In [57]:
def nps_for_list(list_var):
    arr = np.array(list_var)
    return (len(arr[arr>8])/len(arr)*100) - (len(arr[arr<7])/len(arr)*100)

In [58]:
nps_for_list([8,10,9,5,7,2,3,1])

-25.0

In [83]:
df = pd.read_csv('nps.csv',parse_dates=['event_date'])
df.head()

           event_date    user_id  score
0 2020-01-01 19:00:51  290067447      8
1 2020-01-02 17:34:43  223014806     10
2 2020-01-02 19:11:55  187864388     10
3 2020-01-02 19:27:00  318758952      8
4 2020-01-02 21:42:19  189933311      0

In [91]:
df['yearmonth'] = df.event_date.apply(lambda x: x.strftime('%Y%m')).astype(int)

In [94]:
df['category'] = df.score.apply(categorize)

In [99]:
df.pivot_table(index='yearmonth',columns='category',aggfunc='size')

category   Detractor  Passive  Promoter
yearmonth
202001            31       82       215
202002            22       90       161
202003            33       72       125
202004            36       87       178
202005            33       83       191
202006            32       80       215
202007            48       95       258
202008            40      103       256
202009            18       68       135
202010            36       83       177
202011            18       27        72
202012            22       42        62

In [102]:
df.groupby(['yearmonth','category'])['score'].count()

yearmonth  category
202001     Detractor     31
           Passive       82
           Promoter     215
202002     Detractor     22
           Passive       90
           Promoter     161
202003     Detractor     33
           Passive       72
           Promoter     125
202004     Detractor     36
           Passive       87
           Promoter     178
202005     Detractor     33
           Passive       83
           Promoter     191
202006     Detractor     32
           Passive       80
           Promoter     215
202007     Detractor     48
           Passive       95
           Promoter     258
202008     Detractor     40
           Passive      103
           Promoter     256
202009     Detractor     18
           Passive       68
           Promoter     135
202010     Detractor     36
           Passive       83
           Promoter     177
202011     Detractor     18
           Passive       27
           Promoter      72
202012     Detractor     22
           Passive       42
           Promoter      62
Name: score, dtype: int64

In [103]:
nps = df.pivot_table(index='yearmonth',columns='category',aggfunc='size')

In [113]:
nps.head()

category   Detractor  Passive  Promoter
yearmonth
202001            31       82       215
202002            22       90       161
202003            33       72       125
202004            36       87       178
202005            33       83       191

In [116]:
nps['total_responses'] = nps.sum(axis=1)

In [117]:
nps.head()

category   Detractor  Passive  Promoter  total_responses
yearmonth
202001            31       82       215              328
202002            22       90       161              273
202003            33       72       125              230
202004            36       87       178              301
202005            33       83       191              307

In [121]:
nps['nps'] = ((nps['Promoter'] - nps['Detractor'])/nps['total_responses'] * 100).astype(int)

In [122]:
nps.head()

category   Detractor  Passive  Promoter  total_responses  nps
yearmonth
202001            31       82       215              328   56
202002            22       90       161              273   50
202003            33       72       125              230   40
202004            36       87       178              301   47
202005            33       83       191              307   51